.card_emergencia_button{
    background-color: transparent;
    border: none;
    padding: 0 !important;
}
.card_emergencia_button:hover{
    background-color: transparent !important;
}

.card_emergencia{
    height: 60px;
    width: 275px;
    padding: 5px 10px;
    background-image: linear-gradient(-90deg,#2C24C4,#2464E4);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.card_emergencia_img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_emergencia_img > img{
    height: 100%;
}

.card_text_emergencia{
    font-size: 2vh;
    /* line-height: 45px; */
    font-weight: 600;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 0.5px black;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}