.lang-selector {
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: white
}

.selected-menu {
  background-color: transparent;
  /* padding: 10px; */
  border-radius: 5px;
  width: 50px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.selected-menu > img {
  height: 25px;
  border-radius: 5px;
  filter: invert(100%);
}

.arrow {
  width: 20px;
  filter:invert(100%);
  transition: transform 0.2s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.language-list {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid #ccc; */
  border-top: none;
  display: none;
  width: 100%;
}

.dropdown.open .language-list a {
  display: block;
  margin-top: 2px;
  width: 100px;
}

.language-list li {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.language-list li:hover {
  background-color: #f2f2f2;
}



.container_button_profile{
  display: flex;
  align-items: center;
  flex-direction: row;
  color: black;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  gap: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container_button_profile:hover{
  background-color: #f2f2f2;
}

.container_button_profile p{
  margin: 0;
  font-size: 16px;
}
.container_button_profile img {
  width: 15px;
  filter: invert(0%);
}